{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type='text/css' href="{{ asset('css/form.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
{% endblock %}

{% block body %}
    <div class="form-style">
        <h1>{{ 'resume.edit'|trans }}</h1>

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary float-right">Edit</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}