{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/search_form.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
{% endblock %}

{% block javascripts %}
    <script src = "https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src = "{{ asset('js/resumes.js') }}"></script>
    <script type = "text/javascript">
        let resumes = new Resumes({{ app.user.id }});
        resumes.init();
    </script>
{% endblock %}

{% block body %}
    <div class="width-300 mt-2">
        <input id="resume-search" class="form-control form-control-sm w-75 float-left" type="search" placeholder="Search"
               aria-label="Search">
        <button id="search" type="submit" class="btn p-1" ><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
    <div class="resume-wrapper mb-5">
        <img src="{{ asset('images/ajax-loader.gif') }}" class="loader mx-auto" alt="">
        <div id="resumes"></div>
    </div>

    <a href="{{ path('resume_create') }}" class="btn btn-default float-right">Add resume</a>
{% endblock %}