{% extends 'base.html.twig' %}

{% block body %}

    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}

    {% if app.user and (app.user is same as(resume.user)) %}
        {% include 'resume/control_panel.html.twig' with {
            'resume': resume,
        } only %}
    {% endif %}

    <div class="media-body">
        <div class="row">
            <div class="col-sm-10">
                <h3 class="media-heading"><strong>{{ resume.title }}</strong></h3>
            </div>
        </div>

        <p>
            <strong>{{ resume.name }}</strong>
            <strong>{{ resume.surname }}</strong>
            <small> - <i>{{ resume.gender }}</i></small>
        </p>

        <p>{{ resume.aboutMe|nl2br }}</p>

        <p>{{ resume.cityOfResidence }}</p>
        <div class="col-sm-2">
            <i class="float-right">{{ 'Date of birthday'|trans }} {{ resume.dateOfBirthday|date('m/d/Y') }}</i>
        </div>
        <div class="row">
           {% if app.user and app.user.role('ROLE_APPLICANT') %}
            <div class="col-sm-12 text-right">
                <a class="btn btn-default" href="{{ path('resume_list') }}">
                    <span class="fa fa-arrow-left" aria-hidden="true"></span>
                    {{ 'back.to.list'|trans }}
                </a>
            </div>
            {% elseif app.user and app.user.role('ROLE_EMPLOYER')%}
                <div class="col-sm-12 text-right">
                    <a class="btn btn-default" href="{{ path('job_application_responses') }}">
                        <span class="fa fa-arrow-left" aria-hidden="true"></span>
                        {{ 'back.to.list'|trans }}
                    </a>
                </div>
                <div class="col-sm-12 text-right">
                    <a class="btn btn-outline-info ml-2 float-right"
                       href="{{ path('company_chat', {id: app.user.company.id, room: room}) }}">
                        <span class="fa fa-plus" aria-hidden="true"></span>
                        {{ 'chat'|trans }}
                    </a>
                </div>
           {% endif %}
            <script src = "{{ asset('js/resume-control.js') }}"></script>
            <script type="text/javascript">
                let company = new ResumeControl('{{ resume.id }}', '{{ path('resume_list') }}');
                company.init();
                console.log({{ resume.id }});
            </script>
        </div>
    </div>
{% endblock %}