{% extends 'base.html.twig' %}

{% block title %}
    Jobs in the {{ category.name }} category
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/search_form.css') }}">
    <link rel="stylesheet" href="{{ asset('css/preloader.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
{% endblock %}

{% block javascripts %}
    <script src = "https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src = "{{ asset('js/category.js') }}"></script>
    <script type="text/javascript">
        let category = new Category('{{ category.slug }}');
        category.init();
    </script>
{% endblock %}

{% block body %}

    {% include 'job/_job_history.html.twig' with {'historyJobs': historyJobs} only %}
    <div class="width-300 mt-2">
        <input id="search-input" class="form-control form-control-sm w-75 float-left" type="text" placeholder="Search"
               aria-label="Search">
        <button type="submit" class="btn p-1" id="search"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
    <div id="active-jobs-by-category" class=""></div>

{% endblock %}