<nav class="navbar navbar-light float-right">
    <form class="form-inline">
        {% if app.user is same as(job.company.user) %}
            {{ form_start(deleteForm) }}
            {{ form_widget(deleteForm) }}
            <button type="submit" class="btn" onclick="return confirm('Are you sure?')">
                <span class="fa fa-trash" aria-hidden="true"></span>
                Delete
            </button>
            {{ form_end(deleteForm) }}
            <a class="btn navbar-btn ml-2" href="{{ path('job_edit', {'id': job.id}) }}">
                <span class="fa fa-pencil" aria-hidden="true"></span>
                {{ 'edit'|trans }}
            </a>
        {% endif %}
        {% if app.user and app.user.role('ROLE_APPLICANT')%}
            <a class="btn btn-default navbar-btn ml-2" href="{{ path('resume_choice', {id:job.id}) }}">
                <span class="fa fa-check" aria-hidden="true"></span>
                {{ 'response'|trans }}
            </a>
            <a class="btn btn-default navbar-btn ml-2" href="{{ path('company_show', {id:job.company.id}) }}">
                <span class="fa fa-home" aria-hidden="true"></span>
                {{ 'show.company'|trans }}
            </a>
            {% if app.user and app.user.facebookId %}
                <button id="facebook-post" type="button" class="btn btn-outline-dark" onclick="return confirm('Are you sure?')">
                    <span class="fa fa-facebook" aria-hidden="true"></span>
                    Post on facebook
                </button>
            {% endif %}
        {% endif %}

        {% if job.activated %}
            {% if job.expiresAt < date() %}
                <span class="navbar-text ml-5">Expired</span>
            {% else %}
                <span class="navbar-text ml-5">Expires in <strong>{{ job.expiresAt.diff(date())|date('%a') }}</strong> days
                </span>
            {% endif %}

            {% if job.expiresAt.diff(date())|date('%a') < 5 %}
                <a class="btn btn-default navbar-btn" href="#">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    Extend (for another 30 days)
                </a>
            {% endif %}
        {% endif %}
    </form>
</nav>