<nav class="navbar navbar-light float-right">
    <form class="form-inline float-right">
        {% if app.user and (app.user is same as(company.user)) %}
            <button id="delete-company"
                    type="submit"
                    class="btn btn-outline-danger"
                    onclick="return confirm('Are you sure?')">
                <span class="fa fa-trash" aria-hidden="true"></span>
                {{ 'delete'|trans }}
            </button>
            <a class="btn btn-outline-info ml-2"
               href="{{ path('company_edit', {'id': company.id}) }}">
                <span class="fa fa-pencil" aria-hidden="true"></span>
                {{ 'edit'|trans }}
            </a>
                <a class="btn btn-outline-info ml-2 float-right"
                   href="{{ path('company_chats', {id: company.id}) }}">
                    <span class="fa fa-plus" aria-hidden="true"></span>
                    {{ 'chats'|trans }}
                </a>
        {% endif %}
        {% if app.user.role('ROLE_APPLICANT') %}
            <a class="btn btn-outline-info ml-2 float-right"
               href="{{ path('company_chat', {id: company.id, room: room}) }}">
                <span class="fa fa-plus" aria-hidden="true"></span>
                {{ 'chat'|trans }}
            </a>
        {% endif %}
    </form>
</nav>
