{% extends 'base.html.twig' %}

{% block body %}

    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}

    {% if company|length %}
        <h1>{{ 'company'|trans }}</h1>
        <div class="media" style="margin-top: 60px;">
            {% if company.imageName %}
                <div class="media-left">
                    <a href="#" target="_blank">
                        <img class="media-object" style="width:200px; height:200px;"
                             src="{{ asset(image_directory ~ '/' ~ company.imageName) }}">
                    </a>
                </div>
            {% endif %}
            <div class="media-body">
                <div class="row">
                    <div class="col-sm-10">
                        <h3 class="media-heading">
                            <strong>{{ company.name }}</strong>
                            <i>({{ company.address }})</i>
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        {% if room is defined %}
            {% include 'company/control_panel.html.twig' with {
                'company': company,
                'room': room,
            } only %}
        {% else %}
            {% include 'company/control_panel.html.twig' with {
                'company': company,
            } only %}
        {% endif %}

        <script src = "{{ asset('js/company.js') }}"></script>
        <script type="text/javascript">
            let company = new Company('{{ company.id }}', '{{ path('job_list') }}');
            company.init();
        </script>
    {% else %}
        <h4>
            {{ 'you.have.no.company'|trans }}.
            {% if app.user and app.user.role('ROLE_EMPLOYER') %}
                <a href="{{ path('company_create') }}">{{ 'create.company'|trans }}.</a>
            {% endif %}
        </h4>
    {% endif %}

{% endblock %}