<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Jobeet - Your best job board{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('job_list') }}">Jobeet</a>
        </div>
        <div class="collapse navbar-collapse">

            {% if app.user and app.user.role('ROLE_EMPLOYER') %}
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <div>
                        <a href="{{ path('company_show') }}" class="btn btn-online-info navbar-btn">
                            My company
                        </a>
                    </div>
                </li>
                {% if app.user.company|length %}
                <li>
                    <div>
                        <a href="{{ path('job_application_responses') }}" class="btn btn-online-info navbar-btn">
                            My responses
                        </a>
                    </div>
                </li>
                {% endif %}
            </ul>
            {% endif %}

            {% if app.user and app.user.role('ROLE_APPLICANT') %}
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <div>
                            <a href="{{ path('resume_list') }}" class="btn btn-online-info navbar-btn">
                                My resumes
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="{{ path('job_application_list') }}" class="btn btn-online-info navbar-btn">
                                My responses
                            </a>
                        </div>
                    </li>
                </ul>
            {% endif %}

            <div class="nav navbar-nav navbar-right">
                {% if app.user %}
                    <p class ="navbar-brand">{{ app.user.username }}</p>
                    <p class ="navbar-brand">{{ app.user.meta }}</p>
                    <a href="{{ path('app_logout') }}" class="btn btn-dark navbar-btn">Log out</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-info navbar-btn">Log in</a>
                {% endif %}
            </div>
        </div>

    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>